.history/
xml-validate-react-ui/package-lock.json
xml-validate-react-ui/.history
xml-validate-react-ui/node_modules
xml-validate-react-ui/.DS_Store
xml-validate-react-ui/dist
xml-validate-react-ui/.env

xml-validation-as-a-micro-service/.history/
xml-validation-as-a-micro-service/.mvn/
xml-validation-as-a-micro-service/.idea/
xml-validation-as-a-micro-service/target
xml-validation-as-a-micro-service/*.iml
xml-validation-as-a-micro-service/.classpath
xml-validation-as-a-micro-service/.factorypath
xml-validation-as-a-micro-service/.project
xml-validation-as-a-micro-service/.settings
xml-validation-as-a-micro-service/application.log*
xml-validation-as-a-micro-service/src/main/uploads/*
xml-validation-as-a-micro-service/*.iml