$color: #212121;

$color-drop-light: #c5c5c5;
$color-drop-dark: #607d8b;

$color-dropping-light: #e8f5e9;
$color-dropping-dark: #4caf50;

$color-preview-item: #cfd8dc;
$color-disabled: #f5f5f5;
$color-card: #ffffff;
$color-background: #e3e3e3;
$color-loader: #90a4ae;

$color-button-1: #607d8b;
$color-button-2: #ffffff;
